/* css code for header styles */
.header {
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

.header .headerLogoImg {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 30px;
}

.header .headerLogoName {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.11em;

  display: flex;
  align-items: center;
}

.header .headerLogoName span {
  margin-left: 10px;
  color: var(--orange);
}

.header .headerLogoName span:nth-child(2) {
  color: var(--blue);
}

/* css code for middle and main block  */
.main {
  width: 100vw;
  height: 100vh;
  padding: 70px 30px 30px;
  overflow: scroll;
}

/* css code for copyright sec footer  */
.footer {
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  padding: 0 30px;
  justify-content: space-between;
}

.footer .linkGroup {
  display: flex;
  gap: 20px;
}
